header {
    background-color: blue;
    color: white;
    padding: 1em;
    padding-top: 0.5em;
    grid-area: header;
    font-family: "Comfortaa", sans-serif;
}

nav {
    background-color: yellow;
    padding: 1em;
    grid-area: nav;

}

main {
    background-color: darkblue;
    color: white;
    grid-area: main;
}

aside {
    background-color: lightgreen;
    grid-area: aside;
}

footer {
    background-color: darkgreen;
    color: white;
    grid-area: footer;
}

nav ul li a {
    color: red;
    text-decoration: none;
}

